<div id="<%= dom_id cited_by %>">
<p>
    <h2>CITED BY</h2>
    <p>
      <strong>All citations:</strong>
        <%= cited_by.all_citations %>
    </p>
    <p>
      <strong>Citations from 2016:</strong>
        <%= cited_by.citations_from_2016 %>
    </p>
    <p>
      <strong>h-index:</strong>
        <%= cited_by.h_index %>
    </p>
    <p>
      <strong>h-index from 2016:</strong>
        <%= cited_by.h_from_2016 %>
    </p>
    <p>
      <strong>i10-index:</strong>
        <%= cited_by.i10_index %>
    </p>
    <p>
      <strong>i10-index from 2016:</strong>
        <%= cited_by.i10_from_2016 %>
    </p>
  </p>
  <div style="width: 40%;">
  <%= line_chart Graphs.new.hash_graph(cited_by.graph),
      discrete: true, 
      xtitle: "years", 
      ytitle: "citations",
      colors: ["#26c6da"],
      title:"CITATIONS"%>
  </div>
</div>

<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>