<header>
    <h1>AUTHORMETRICS</h1>
</header>

<div class="left_block">
    <div class="table_half_box">
        <caption>LATEST PUBLICATIONS</caption>
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
        <tbody>
            <% @latest_pubs.each do |recent_pub| %>
            <% writtens= Written.where(:publication_id => recent_pub.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= recent_pub.title %></td>
                    <td><%= recent_pub.pub_year %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    
    <div class="table_half_box">
        <caption>MOST CITED PUBLICATIONS</caption> <!--WILL BE REPLACED WITH "MOST COMMENTED PUBLICATIONS"-->
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_pubs.each do |most_cited| %>
            <% writtens= Written.where(:publication_id => most_cited.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> <!--Not sure it works for multiple authors-->
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= most_cited.title %></td>
                    <td><%= most_cited.cited_by %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>

    <div class="table_half_box">
        <caption>MOST CITED AUTHORS</caption> <!--WILL BE REPLACED WITH "MOST FOLLOWED AUTHORS"-->
        <table>
        <thead><tr><th>Author</th><th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_authors.each do |most_cited| %>
                <tr>
                    <td>                        
                        <% auth= Author.find(most_cited.author_id)%>
                        <%= auth.name %>
                    </td>
                    <td><%= most_cited.all_citations %></td>
                </tr>
            <% end %>   
        </tbody>
        </table>
    </div>


</div>

<div class="right_block">
    <div class= "upper_right_block">
        <button onclick= "searchByAuth()" id= "ByAuth" > SEARCH BY AUTH </button>
        <button onclick= "provaPub()" id= "ByPub"> SEARCH BY PUB</button>
        <button onclick="location.href='http://127.0.0.1:3000/authors'" > AUTHORS</button> 
        <button onclick="location.href='http://127.0.0.1:3000/publications'"> PUBLICATIONS</button>
        <button onclick="location.href='http://127.0.0.1:3000/users/new'" id= "LogReg"> LOGIN/REGISTER</button> <!--uncorrect redirect, just to try-->
        <p id="p1"> </p>
         
    </div>
    <div class= "bottom_right_block">
        <h2>STANDARD GRAPHS</h2>
        <div class="first_graph">
            <%= pie_chart Publication.where(pub_year: (2010 ..)).group(:pub_year).count, title:"PUBLICATIONS SINCE 2010"%>
        <div>
        <div class="second_graph">
                <%= line_chart @most_cited_authors.map { |most_cited|
                    {name: Author.find(most_cited.author_id).name, data: most_cited.graph.chart_json}
                },  xtitle: "years", ytitle: "citations", title:"MOST CITED AUTHORS"%>
        </div>
    </div>
</div>


<div class="footer" float:left>
    <a href="/contacts">CONTACT US</a>
    <a href="/info">INFO</a>
    <a href="/use_and_conditions">USE TERMS AND CONDITIONS</a>
    <a href="/privacy">PRIVACY</a>
    <a href="/cookies">COOKIES</a>
</div>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>




