<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"384.6153846x108.4615338", class: "logo")%>
</header>

<% if user_signed_in? or administrator_signed_in? %>
    <%if user_signed_in?%>
        <div class="logout_home_user">
            <text>  WELCOME BACK <%=current_user["username"]%> !</text>
            <br></br>
            <%= button_to "LOGOUT", destroy_user_session_path, :method => :delete %>
        </div>
    <%end%>
    <%if administrator_signed_in?%>
        <div class="logout_home_admin">
            <text> WELCOME BACK <%=current_administrator["username"]%>! </text>
            <br></br>
            <%= button_to "LOGOUT", destroy_administrator_session_path, :method => :delete if administrator_signed_in? %>
        </div>
    <%end%>
<%end%>

<div class="left_block">
    <div class="table_half_box">
        <caption>LATEST PUBLICATIONS</caption>
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
        <tbody>
            <% @latest_pubs.each do |recent_pub| %>
            <% writtens= Written.where(:publication_id => recent_pub.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= recent_pub.title %></td>
                    <td><%= recent_pub.pub_year %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    
    <div class="table_half_box">
        <caption>MOST CITED PUBLICATIONS</caption> <!--WILL BE REPLACED WITH "MOST COMMENTED PUBLICATIONS"-->
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_pubs.each do |most_cited| %>
            <% writtens= Written.where(:publication_id => most_cited.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> <!--Not sure it works for multiple authors-->
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= most_cited.title %></td>
                    <td><%= most_cited.cited_by %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>

    <div class="table_half_box">
        <caption>MOST CITED AUTHORS</caption> <!--WILL BE REPLACED WITH "MOST FOLLOWED AUTHORS"-->
        <table>
        <thead><tr><th>Author</th><th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_authors.each do |most_cited| %>
                <tr>
                    <td>                        
                        <% auth= Author.find(most_cited.author_id)%>
                        <%= auth.name %>
                    </td>
                    <td><%= most_cited.all_citations %></td>
                </tr>
            <% end %>   
        </tbody>
        </table>
    </div>


</div>

<div class="right_block">
    <div class= "upper_right_block">
        <button onclick= "searchByAuth()" id= "ByAuth" style="background-color:#79d1c3;" > SEARCH BY AUTH </button>
        <button onclick= "searchByPub()" id= "ByPub" style="background-color:#c9fdd7;"> SEARCH BY PUB</button>
        <button onclick="location.href='https://127.0.0.1:3000/authors'"> AUTHORS</button> 
        <button onclick="location.href='https://127.0.0.1:3000/publications'"> PUBLICATIONS</button>
        <% if not ( user_signed_in? or administrator_signed_in?) %>
            <button onclick="location.href='https://127.0.0.1:3000/users/sign_up'"> LOGIN/REGISTER</button>
            <button onclick="location.href='https://127.0.0.1:3000/administrators/sign_up'"> RESERVED AREA</button>
        <% elsif user_signed_in? %>
            <button onclick="location.href='https://127.0.0.1:3000/dashboard'"> MY ACCOUNT</button>
        <%else%>
            <button onclick="location.href='https://127.0.0.1:3000/control_panel'">CONTROL PANEL</button>
        <%end%>
        <p id="p1"> </p>
    </div>

    <div class= "bottom_right_block">
        <div class="bottom_right_block_left">
                <h2>STANDARD CHARTS</h2>
                <fieldset class= "chart_choise">
                    <legend>CHOOSE A CHART:</legend>
                    <br>
                    <label>ON AUTHORS:</label><br>
                    <br>
                    <input type="radio" id="most_cited_authors_trend" name="choise" onclick="most_cited_authors_graph()" checked > <label for="most_cited_authors_trend"> Most cited authors trends</label><br> <br>
                    <input type="radio" id="auth_ratings" name="choise" onclick="auth_ratings_graph()" > <label for="auth_ratings"> Highest rate authors</label><br><br>
                    <input type="radio" id="most_commented_authors" name="choise" onclick="most_commented_authors_graph()"> <label for="most_commented_authors"> Most reviewed authors</label><br> <br>
                    <label>ON PUBLICATIONS:</label><br>
                    <br>
                    <input type="radio" id="pub_per_year" name="choise" onclick="pub_per_year_graph()"> <label for="pub_per_year"> Most cited publications</label><br> <br>
                    <input type="radio" id="pub_ratings" name="choise" onclick="pub_ratings_graph()"> <label for="pub_ratings"> Highest rate publications</label><br><br>
                    <input type="radio" id="most_cited_publications" name="choise" onclick="most_cited_publication_graph()"> <label for="most_cited_authors"> Most commented pubs</label><br><br>
                </fieldset>
                <!--
                <label for="cars">Choose a car:</label>
                <select id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                </select>
                -->
        </div>
        <div class="bottom_right_block_right">
        <br></br>

        <div class="graph" id="chart1" style="visibility:visible;"}>
                <%= line_chart @most_cited_authors.sort_by{|x| -x.graph.length}.map { |most_cited|
                    {
                        name: Author.find(most_cited.author_id).name,
                        data: Graphs.new.hash_graph(most_cited.graph)
                    }
                }, discrete: true, 
                   xtitle: "years", 
                   ytitle: "citations",
                   colors: ["#49beb7", "#6892d5", "#7c4789", "#9973e2", "#7b99fa"], 
                   title:"MOST CITED AUTHORS TRENDS"%>
        </div>


        <div class="graph" id="chart2" style="visibility:hidden;">
            <%= column_chart Graphs.new.authors_avg_ratings(Author.all, 10), 
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ], 
            title:"HIGHEST RATE AUTHORS"%>
        </div>


        <div class="graph" id="chart3" style="visibility:hidden;">
            <%= column_chart Graphs.new.most_reviewed_by_authors_graph(@most_reviewed_by_authors),
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ], 
            title:"MOST REVIEWED AUTHORS"%>
        </div>


        <div class="graph" id="chart4" style="visibility:hidden;">
            <% data= []%>
            <% for year in (Date.today.year - 9 .. Date.today.year )%>
            <% most_cited=Publication.distinct.order(cited_by: :desc).where(pub_year:year).first()%>
            <% if (most_cited != nil)%>
                <% data << [ year.to_s + ": "+  most_cited.title, most_cited.cited_by]%>
            <%end%>
            <%end%>
            <%= column_chart data,
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ],
            discrete: true, 
            title:"MOST CITED PUBLICATIONS"%>
        </div>


        <div class="graph" id="chart5" style="visibility:hidden;">
            <%= column_chart Graphs.new.pubs_avg_ratings(Publication.all, 10), 
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ], 
            title:"HIGHEST RATE PUBLICATIONS"%>
        </div>


        <div class="graph" id="chart6" style="visibility:hidden;">
            <%= column_chart Graphs.new.most_commented_pubs_graph(@most_commented_pubs),
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ], 
            title:"MOST REVIEWED AUTHORS"%>
        </div>
        </div>
    </div>
</div>

<div class="footer" float:left>
    <a href="/contacts">CONTACT US</a>
    <a href="/info">INFO</a>
    <a href="/use_and_conditions">USE TERMS AND CONDITIONS</a>
    <a href="/privacy">PRIVACY</a>
    <a href="/cookies">COOKIES</a>
</div>

<%= javascript_include_tag "home"%>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>
<script> searchByAuth();</script>

