<p style="color: green"><%= notice %></p>

<%= render @articolo %>

<div>
  <%= link_to "Edit this articolo", edit_articolo_path(@articolo) %> |
  <%= link_to "Back to articoli", articoli_path %>

  <%= button_to "Destroy this articolo", @articolo, method: :delete %>
</div>
