<div id="<%= dom_id comment %>">
  <p>
    <strong>Publication:</strong>
    <%= comment.publication_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Comment timestamp:</strong>
    <%= comment.comment_timestamp %>
  </p>

</div>
