<body>
<div class="margine">
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 

<p style="color: green"><%= notice %></p>

<h1>COMMENTS</h1>

<%if(@user!=nil)%>
  <% if (Comment.where(publication_id:@publication.publication_id,user_id:@user.user_id)==[] ||Comment.where(publication_id:@publication.publication_id,user_id:@user.user_id)==nil)%>
    <%= button_to "NEW COMMENT", new_publication_comment_path(@publication), method: :get %>
  <%end%>
<%end%>

<%= button_to "BACK TO PUBLICATION", publication_path(@publication), method: :get %>

<br>
<br>


  <% @comments.each do |comment| %>
    <%= render comment %>
    <%if(@user!=nil)%>
      <%if @user.user_id==comment.user_id%>
        <%= button_to "Edit comment", edit_publication_comment_path(comment.publication_id,comment.user_id), method: :get%>
        <%= button_to "Destroy comment", [comment.publication,comment], :method=>:delete %>
      <%end%>
    <%end%>
  <% end %>


</div>
</body>

