<p style="color: green"><%= notice %></p>

<%= render @rating_autore %>

<div>
  <%= link_to "Edit this rating autore", edit_rating_autore_path(@rating_autore) %> |
  <%= link_to "Back to rating autores", rating_autores_path %>

  <%= button_to "Destroy this rating autore", @rating_autore, method: :delete %>
</div>
