<p style="color: green"><%= notice %></p>

<%= render @recensione_autore %>

<div>
  <%= link_to "Edit this recensione autore", edit_recensione_autore_path(@recensione_autore) %> |
  <%= link_to "Back to recensione autores", recensioni_autori_path %>

  <%= button_to "Destroy this recensione autore", @recensione_autore, method: :delete %>
</div>
