<div id="<%= dom_id review %>">
  <p>
    <strong>Author:</strong>
    <%= review.author_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= review.review %>
  </p>

  <p>
    <strong>Review timestamp:</strong>
    <%= review.review_timestamp %>
  </p>

</div>
