</body>
<div class="margine">
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 

<p style="color: green"><%= notice %></p>

<h1>REVIEWS</h1>

<%if(@user!=nil)%>
  <% if (Review.where(author_id:@author.author_id,user_id:@user.user_id)==[] ||Review.where(author_id:@author.author_id,user_id:@user.user_id)==nil)%>
    <%= button_to "NEW REVIEW", new_author_review_path(@author), method: :get %>
  <%end%>
<%end%>
<%= button_to "BACK TO AUTHOR", author_path(@author), method: :get %>

<br>
<br>

<% @reviews.each do |review| %>
  <%= render review %>

   <%if administrator_signed_in? %>
        <%= button_to "Destroy review", [review.author,review], :method=>:delete %>
  <%end%>

  <%if(@user!=nil) && user_signed_in?%>
    <%if @user.user_id==review.user_id%>
      <%= button_to "Edit review", edit_author_review_path(review.author_id,review.user_id), method: :get%>
      <%= button_to "Destroy review", [review.author,review], :method=>:delete %>
    <%end%>
  <%end%>
<% end %>

</div>
</body>
