<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
</header>

<div class="logout_control_panel">
        <text> WELCOME BACK <%current_administrator["username"]%>! </text>
        <br></br>
        <%= button_to "LOGOUT", destroy_administrator_session_path, :method => :delete if administrator_signed_in? %>
        <button>SEND COMUNICATION</button>
</div>

<div class="upper_block_cp">
    <div class="upper_box_1">
        <%= line_chart Comment.order("DATE(comment_timestamp)").group("DATE(comment_timestamp)").count %>
    </div>
    <div class="upper_box_1">
        <%= line_chart Publication.order("DATE(created_at)").group("DATE(created_at)").count, 
            xmin: Date.today - 10, xmax: Date.today, 
            title: "DAILY PUBLICATIONS"
        %>
    </div>
    <div class="upper_box_1">
    ciao
    </div>
    <div class="upper_box_1">
    ciao
    </div>
</div>

<%= javascript_include_tag "home"%>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>


