<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
</header>

<div class="logout_control_panel">
        <text> WELCOME BACK <%=current_administrator["username"]%>! </text>
        <br></br>
        <%= button_to "LOGOUT", destroy_administrator_session_path, :method => :delete if administrator_signed_in? %>
</div>

<div class="upper_block_cp">
    <button>SEND COMUNICATION</button>
    <button>BUNNED USERS</button>
    <button>LATEST PUBLICATIONS</button>
    <button>LATEST COMMENTS</button>
</div>

<div class="medium_block_cp">
    <div class="upper_box_1">
        <div class="control_graph">
        <%=line_chart Comment.order("DATE(comment_timestamp)").group("DATE(comment_timestamp)").count, 
            colors: ["#037b86"],
            xmin: Date.today - 10, xmax: Date.today,
            title: "DAILY PUBLISHED COMMENTS"%>
        </div>
    </div>
    <div class="upper_box_1">
        <div class="control_graph">
        <%=line_chart Review.order("DATE(review_timestamp)").group("DATE(review_timestamp)").count, 
            colors: ["#55c8a7"],
            xmin: Date.today - 10, xmax: Date.today,
            title: "DAILY PUBLISHED REVIEWS"%>
        </div>
    </div>
    <div class="upper_box_1">
        <div class="control_graph">
        <%= line_chart Publication.order("DATE(created_at)").group("DATE(created_at)").count, 
            xmin: Date.today - 10, xmax: Date.today, 
            title: "DAILY PUBLICATIONS", 
            colors: ["#97f6b0", "#80e7ad", "#69d8ab", "#55c8a7", "#41b9a3", "#2fa99d", "#1f9a96", "#0f8a8f","#037b86", "#006c7b" ]
        %>
        </div>
    </div>
    <div class="upper_box_1">
        <div class="control_graph">
        <%= column_chart User.order(:reg_date).group(:reg_date).count, 
            xmin: Date.today - 10, xmax: Date.today, 
            title: "NEWLY REGISTERED USERS", 
            colors: ["#2fa99d"]
        %>
        </div>
    </div>
</div>

<div class= "bottom_block_cp">
    <div class= "half_table_cp">
    <caption>LATEST PUBLICATIONS</caption>
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
        <tbody>
            <% @latest_pubs.each do |recent_pub| %>
            <% writtens= Written.where(:publication_id => recent_pub.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= recent_pub.title %></td>
                    <td><%= recent_pub.pub_year %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    
    <div class="half_table_cp">
    <caption>LATEST PUBLICATIONS</caption>
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
        <tbody>
            <% @latest_pubs.each do |recent_pub| %>
            <% writtens= Written.where(:publication_id => recent_pub.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= recent_pub.title %></td>
                    <td><%= recent_pub.pub_year %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    <div>
    
</div>


<%= javascript_include_tag "home"%>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>


