<div id="<%= dom_id author %>">
  <p>
    <strong>Author:</strong>
    <%= author.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Affiliations:</strong>
    <%= author.affiliations %>
  </p>

  <p>
    <strong>Interests:</strong>
    <%= author.interests %>
  </p>

</div>
