<div id="<%= dom_id author %>">

  <p>
    <h1>
    <%= author.name %>
    </h1>
  </p>

  <p>
    <strong>Affiliations:</strong>
    <%= author.affiliations %>
  </p>
  <p>
    
    <% if author.interests != [] && author.interests!= nil %>
    <h2>INTERESTS:</h2>
      <% JSON.parse(author.interests).each do |k|%>
        <% k.each do |kk,vv|%>
        <div>
        <p>   
          <%= "\n"+kk+":" %>
          <%= "\t"+vv+"\n" %>
          
        </p>
        </div>
        <%end%>
        <%="---------------"%>
      <%end%>
    <%end%>
    
  </p>

</div>
