<p style="color: green"><%= notice %></p>

<div class='margine'>
  <h1>AUTHOR</h1>
  <div style='position: absolute; top: 7%; left: 65%; display:inline-block;'>
   <label for="orders">ORDER BY:</label> 
        <select name="orders" id="orders" onchange="">
          <option value="Alphabetical" selected="selected"> Alphabetical</option>
          <option value= "Reverse alphabetical">Reverse alphabetical</option>
          <option value="Highest rate">Highest rate</option>
          <option value="Highest citations">Highest citations</option>  
        </select>
    <button onclick= "searchByAuth()" id= "ByAuth"> SEARCH BY AUTH</button>
    <button onclick="location.href='https://127.0.0.1:3000/'" > BACK TO HOME </button> 
    <p id="p1"> </p>
  </div>

  <div id="authors">
    <% @authors.each do |author| %>
      <% if author.interests != nil%>
      <% s=Strings.new %>
      <% author.interests=s.to_hash(author.interests) %>
      <% end %>
      <%= render author %>
      <p>
        <%= " ---------------------------"%>
      </p>
    <% end %>
  </div>
</div>
</div>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>
