<p style="color: green"><%= notice %></p>

<div class='margine'>
  <h1>AUTHOR</h1>
  <div class="upper_block_auth_pub">
    <button onclick= "searchByAuth()" id= "ByAuth"> SEARCH BY AUTH</button>
    <button onclick="location.href='https://127.0.0.1:3000/'" > BACK TO HOME </button> 
    <%if user_signed_in?%>
      <button onclick="location.href='https://127.0.0.1:3000/dashboard'" > BACK TO ACCOUNT </button> 
    <%end%>

  </div>
  <div id="authors">
    <% @authors.each do |author| %>
      <% if author.interests != nil%>
      <% s=Strings.new %>
      <% author.interests=s.to_hash(author.interests) %>
      <% end %>
      <%= render author %>
      <p>
        <%= " ---------------------------"%>
      </p>
    <% end %>
  </div>
</div>
</div>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>
