<p style="color: green"><%= notice %></p>

  <p>
    <h1>
    <%= @author.name %>
    </h1>
  </p>

<div>
  <button onclick="location.href='http://127.0.0.1:3000/authors'" > BACK TO AUTHORS</button> 
</div>

  <p>
    <strong>Affiliations:</strong>
    <%= @author.affiliations %>
  </p>

  <p>
    <% if @author.interests != [] && @author.interests!= nil && @author.interests!= "" %>
    <h2>INTERESTS:</h2>
      <% JSON.parse(@author.interests).each do |k|%>
        <%i=0%>
        <%arg=''%>
        <% k.each do |kk,vv|%>
          <div>
          <%if i==0%>
            <p>   
              <% arg=vv %>
            </p>
            <%i=i+1%>
          <%else%>
            <% if(i==2) %>
              <%= link_to arg, vv %>
              </div>
              <%break%>
            <%else%>
              <%i=i+1%>
            <%end%>
          <%end%>
          </div>
        <%end%>
        
      <%end%> 
    <%end%>
    <p>
      <%="------------"%>
    </p>
  </p>

<%= render @cited_by %>

 </p>
    <% if @reviews != [] && @reviews!= nil %>
      <strong>REVIEWS:</strong>
      <% reviews.each do |rev|%>
      <% r=User.find(rev.user_id)%>
      <%= r.username%>
      <%= rev.review%>
      <%end%>
    <%end%>
  <p>

<% if @publications != [] && @publications != nil %>
  <h1>PUBBLICAZIONI</h1>
<%end%>

<% @publications.each do |p| %>
  <p>
  <%=h link_to p.title, publication_path(p) %>
  </p>
  
  <%end%>

