<p style="color: green"><%= notice %></p>

<%= render @author %>
<%= render @cited_by %>
<% if @publications != [] && @publications != nil %>
  <h1>PUBBLICAZIONI</h1>
<%end%>

  <%= render @publications %>


<div>
  <%= link_to "Back to authors", authors_path %>
</div>
