<body>
<div class='margine1'>
<p style="color: green"><%= notice %></p>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%>

<h1><%= 'AUTHOR:' + @author.name %></h1>
<h2>RATING:<%= @avg_ratings%></h2>

<div class="destra">
  <button onclick= "searchPubByAuth('<%=@author.id%>')" id= "PubByAuth">SEARCH PUB BY AUTHOR</button>
  <%= button_to "AUTHORS", authors_path, method: :get %>
  <%= button_to "HOME", home_path, method: :get %>
  <p id="p1"> </p> <!--NON TOCCARE!-->
</div>

<p>
  <strong>Affiliations: </strong><%= @author.affiliations %>
</p>

<p>
  <% if @author.interests != [] && @author.interests!= nil && @author.interests!= "" %>
    <h2>INTERESTS</h2>
      <% JSON.parse(@author.interests).each do |k|%>
        <%i=0%>
        <%arg=''%>
        <% k.each do |kk,vv|%>
          <div>
          <%if i==0%>
            <p>   
              <% arg=vv %>
            </p>
            <%i=i+1%>
          <%else%>
            <% if(i==2) %>
              <%= link_to arg, vv %>
              </div>
              <%break%>
            <%else%>
              <%i=i+1%>
            <%end%>
          <%end%>
          </div>
        <%end%>
      <%end%> 
    <%end%>
  </p>
  <%if(@cited_by!=nil)%>
  <%= render @cited_by %>
  <%end%>
 </p>
    <% if @reviews != [] && @reviews!= nil && @reviews != ''%>
      <h2>REVIEWS</h2>
      <% @reviews.each do |rev|%>
      <p>
      <% r=User.find(rev.user_id)%>
  
      <Strong><%= r.username %>: </strong><%= rev.review%>

      <%end%>
      </p>
    <%end%>
<p>


<% if @publications != [] && @publications != nil %>
  <h1>PUBLICATIONS</h1>
<%end%>

<% @publications.each do |p| %>
  <p><li><%=h link_to p.title, publication_path(p) %></p>
<%end%>

<br>
<%= button_to "REVIEWS", author_reviews_path(@author), method: :get %>
<%= button_to "AUTHOR RATINGS", author_author_ratings_path(@author), method: :get %>
<%if user_signed_in?%>
  <%= button_to "ADD TO YOUR FAVORITES", new_user_favorite_author_path(current_user.id), :method=>:get %>
<%end%>





<br>
<br>
<br>

</div>
</body>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>
