<p style="color: green"><%= notice %></p>

<p>
    <h1>
    <%= @author.name %>
    </h1>
  </p>

  <p>
    <strong>Affiliations:</strong>
    <%= @author.affiliations %>
  </p>
  <p>

    <% if @author.interests != [] && @author.interests!= nil %>
    <h2>INTERESTS:</h2>
      <% JSON.parse(@author.interests).each do |k|%>
        <% k.each do |kk,vv|%>
        <div>
        <p>   
          <%= "\t"+kk+":" %>
          <%= "\t"+vv+"\n" %>
        </p>
        </div>
        <%end%>
      <p>
      <%="------------"%>
      </p>
      <%end%>
      
    <%end%>
    
  </p>

<%= render @cited_by %>

 </p>
    <% if @reviews != [] && @reviews!= nil %>
      <strong>REVIEWS:</strong>
      <% reviews.each do |rev|%>
      <% r=User.find(rev.user_id)%>
      <%= r.username%>
      <%= rev.review%>
      <%end%>
    <%end%>
  <p>

<% if @publications != [] && @publications != nil %>
  <h1>PUBBLICAZIONI</h1>
<%end%>

<% @publications.each do |p| %>
  <p>
  <%=h p.title %>
  </p>
  <p>
  <%= link_to "view this publication", publication_path(p) %>
  </p>
  <%= "-------------------" %>
  <%end%>

<div>
  <%= link_to "Back to authors", authors_path %>
</div>
