<p style="color: green"><%= notice %></p>

  <p>
    <h1>
    <%= @author.name %>
    </h1>
  </p>

<div class="upper_block_auth_pub">
  <button onclick= "searchPubByAuth('<%=@author.id%>')" id= "PubByAuth"> SEARCH PUB BY AUTHOR</button>
  <button onclick="location.href='https://127.0.0.1:3000/authors'" > BACK TO AUTHORS</button>  
  <button onclick="location.href='https://127.0.0.1:3000'" >ADD TO YOUR FAVORITES</button>  <!--da modificare-->
  <p id="p1"> </p>
</div>

  <p>
    <strong>Affiliations:</strong>
    <%= @author.affiliations %>
  </p>

  <p>
    <% if @author.interests != [] && @author.interests!= nil && @author.interests!= "" %>
    <h2>INTERESTS:</h2>
      <% JSON.parse(@author.interests).each do |k|%>
        <%i=0%>
        <%arg=''%>
        <% k.each do |kk,vv|%>
          <div>
          <%if i==0%>
            <p>   
              <% arg=vv %>
            </p>
            <%i=i+1%>
          <%else%>
            <% if(i==2) %>
              <%= link_to arg, vv %>
              </div>
              <%break%>
            <%else%>
              <%i=i+1%>
            <%end%>
          <%end%>
          </div>
        <%end%>
        
      <%end%> 
    <%end%>
    <p>
      <%="------------"%>
    </p>
  </p>

  <%= render @cited_by %>

 </p>
    <% if @reviews != [] && @reviews!= nil && @reviews != ''%>
      <strong>REVIEWS:</strong>
      <% @reviews.each do |rev|%>
      <% r=User.find(rev.user_id)%>
      <div>
      <p><Strong><%= r.username %></strong></p>
      <p><%= rev.review%></p>
      </div>
      <%end%>
    <%end%>
  <p>

<h2>RATING</h2>
<!-- fare sum con media e visualizzare la media delle recensioni-->
<% for author_rating in @author.author_rating%>
  <ul>
      <li><%= author_rating.rating %></li>
  </ul>
<% end %>

<p>Ratings average: <%= @avg_ratings%></p>

<!--if in author_ratings not exist record con current_user.id -->
<%if user_signed_in?%>
<%= link_to "add author rating", author_author_ratings_path(@author)%>
<%end%>

<% if @publications != [] && @publications != nil %>
  <h1>PUBBLICAZIONI</h1>
<%end%>

<% @publications.each do |p| %>
  <p>
  <%=h link_to p.title, publication_path(p) %>
  </p>
  
  <%end%>



<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>
