<div id="<%= dom_id publication %>">
  <p>
    <strong>Publication:</strong>
    <%= publication.publication_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= publication.link %>
  </p>

  <p>
    <strong>Published on:</strong>
    <%= publication.published_on %>
  </p>

  <p>
    <strong>Cited by:</strong>
    <%= publication.cited_by %>
  </p>

  <p>
    <strong>Pub year:</strong>
    <%= publication.pub_year %>
  </p>

</div>
