<body>
<div class=margine > 
<p style="color: green"><%= notice %></p>


<h1>PUBLICATIONS</h1>

<div class='destra'>
  <label for="orders">ORDER BY:</label> 
  <%=select_tag("order",options_for_select([['Alphabetical', "1"], ['Reverse alphabetical', "2"], ['Highest citations', "3"]], params[:order]),
  :onchange => "location.href='https://127.0.0.1:3000/publications?order='+ document.getElementById('order').value;")%>
  <button onclick="searchByPub()" id= "ByPub">SEARCH PUB</button>
  <%= button_to "HOME", home_path, method: :get %>
  <p id="p1"> </p> <!--NON TOCCARE!-->
</div>
<br><br>

<% @publications.each do |publication| %>
  <p>
    <li style='color: #3365a3'><%= link_to publication.title, publication %>
  </p>
<% end %>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>

</div>
</body>



