<p style="color: green"><%= notice %></p>
<div class="block">
  <h1 style="color: red">Publications</h1>
  <div class="">
    <button onclick="searchByPub()" id= "ByPub">NEW PUBLICATIONS SEARCH</button>
    <%= button_to "HOME", home_path, method: :get %>
     <p id="p1"> </p>
  </div>
  <div id="publications">
    <% @publications.each do |publication| %>
      <p>
    <li style='color: #3365a3'><%= link_to publication.title, publication %>
  </p>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "home" %>
<%= javascript_include_tag "application" %>




