<body>
<div class='margine'>
<p style="color: green"><%= notice %></p>

  <h1>
    PUBLICATION: <%= link_to @publication.title, @publication.link %>
  </h1>
  <h2>RATING:<%= @avg_ratings%></h2>

<div>
  <%= button_to "PUBLICATIONS", publications_path, method: :get %>
<%if(params[:id].count(":")>0)%>
  <%= button_to "GO BACK TO AUTHOR", author_path, method: :get %>
<%end%>
  <%= button_to "HOME", home_path, method: :get %>  
</div>

<%= render @publication %>

<div>
  <%if @comments != [] || @comments != nil%>
    <% @comments.each do |com| %>
      <h1><% r=User.find(com.user_id)%></h1>
      <p>
      <strong><%= r.username %>:</strong>
      <%= com.comment %>
      </p>
    <%end%>
  <%end%>
</div>


<%if user_signed_in?%>
<%= button_to "ADD TO YOUR FAVORITES", user_favorite_publications_path(@publication), method: :get %>
<%end%>
<%= button_to "COMMENTS", publication_comments_path(@publication), method: :get %>
<%= button_to "PUBLICATION RATINGS", publication_publication_ratings_path(@publication), method: :get %>
</div>
</body>