<p style="color: green"><%= notice %></p>

<div class='margine'>
<h1><%= @publication.title %><h1>
<h2>RATING: da controllare</h2><%= @avg_ratings_2%>

<div>
  <button><%= link_to "VIEW OTHER PUBLICATION", publications_path %></button>
<%if(params[:id].count(":")>0)%>
  <button><%= link_to "GO TO AUTHOR", author_path%></button>
<%end%>
</div>

<p><%= @publication.link %></p>
<p><%= @publication.published_on %></p>
<p><%= @publication.cited_by %></p>
<p><%= @publication.pub_year %></p>


<div>
  <%if @comments != [] || @comments != nil%>
    <% @comments.each do |com| %>
      <h1><% r=User.find(com.user_id)%></h1>
      <p>
      <strong><%= r.username %>:</strong>
      <%= com.comment %>
      </p>
    <%end%>
  <%end%>
</div>




<!--if in author_ratings not exist record con current_user.id -->
<%if user_signed_in?%>
<button><%= link_to "ADD PUBLICATION RATING", publication_publication_ratings_path(@publication)%></button>
<%end%>

</div>