<body>
<div class='margine'>
<p style="color: green"><%= notice %></p>

<%= render @publication %>
<div>
  <button><%= link_to "VIEW OTHER PUBLICATION", publications_path %></button>
<%if(params[:id].count(":")>0)%>
  <button><%= link_to "GO TO AUTHOR", author_path%></button>
<%end%>
</div>

<h2>RATING:</h2><%= @avg_ratings_2%>

<div>
  <%if @comments != [] || @comments != nil%>
    <% @comments.each do |com| %>
      <h1><% r=User.find(com.user_id)%></h1>
      <p>
      <strong><%= r.username %>:</strong>
      <%= com.comment %>
      </p>
    <%end%>
  <%end%>
</div>


<%if user_signed_in?%>
<button><%= link_to "ADD PUBLICATION RATING", publication_publication_ratings_path(@publication)%></button>
<%end%>

</div>
</body>