<p style="color: green"><%= notice %></p>

<%= render @publication %>

<div>
  <%if @comments != [] || @comments != nil%>
    <% @comments.each do |com| %>
      <% r=User.find(com.user_id)%>
      <p>
      <strong><%= r.username %>:</strong>
      <%= com.comment %>
      </p>
      <%= "-------------------" %>
    <%end%>
  <%end%>
</div>

<div>
  <%= link_to "View other publications", publications_path %>
</div>
<%if(params[:id].count(":")>0)%>
  <div>
    <%= link_to "Go to Author", author_path%>
  </div>
<%end%>
