<header class="upper_block">
   <%= image_tag("Immagine2.png", size:"384.6153846x108.4615338", class: "logo")%> 
</header>

<% if user_signed_in? or administrator_signed_in? %>
<div class="logout_dashboard">
    <%if user_signed_in?%>
        <%= button_to "LOGOUT", destroy_user_session_path, :method => :delete %>
    <%end%>
</div>
<%end%>

<div class="left_block">
    <div class="upper_left_box" style="display:inline-block;">
        <div class= "fav_box" style="width:45%;">
                <div class="filters", style="padding-left:7%;">
                <label for="filters">YOUR FAVORITE PUBLICATIONS:</label>
                <select name="filters" id="favorite_pub" style="width:90%;">
                    <% @favorite_publications.each do |favorite_publication| %>
                        <% title= Publication.find(favorite_publication.publication_id).title%>
                        <option value='<%=favorite_publication.publication_id%>' id='<%=favorite_publication.publication_id%>'><%=title%></option>
                    <%end%> 
                    </select> 
                <br></br>
                <button onclick="showFavPub();">SHOW FAV PUB</button>
                <button onclick="editFavPub('<%=@user.id%>');">MODIFY FAV PUBS</button>
                </div> 
        </div>

        <div class= "fav_box" style="width:45%;">
                <div class="filters", style="padding-left:7%;">
                    <label for="filters">YOUR FAVORITE AUTHORS:</label>
                    <select name="filters" id="favorite_auth" style="width:90%;">
                        <%@favorite_authors.each do |author|%>
                            <% name= Author.find(author.author_id).name%>
                            <option value='<%=author.author_id%>' id='<%=author.author_id%>'><%=name%></option>
                        <%end%> 
                        </select> 
                <br></br>
                <button onclick="showFavAuth();">SHOW FAV AUTH</button>
                <button onclick="editFavAuth('<%=@user.id%>');">MODIFY FAV AUTHS</button>
                </div> 
        </div>
    </div>

    <div class= "scrollable_box">
        <caption>LATEST PUBLICATIONS FROM YOUR FAVOURITE AUTHORS</caption>
        <div class="scrollable">
            <table>
            <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
            <tbody>
                <% @latest_pub_fav_auth.each do |latest_pub| %>
                <% written= Written.where(:publication_id => latest_pub.publication_id)[0]%>
                <% author_name= Author.find(written.author_id).name%>
                    <tr>
                        <td><%=author_name%></td>
                        <td><%=link_to latest_pub.title, polymorphic_path(latest_pub)%></td>
                        <td><%=latest_pub.pub_year%></td>
                    </tr>
                <% end %>
            </tbody>
            </table>  
        </div>
    </div>
</div>

<div class="right_block">
    <div class= "upper_right_block">
        <button onclick= "searchByAuth()" id= "ByAuth" style="background-color:#79d1c3;" > SEARCH BY AUTH </button>
        <button onclick= "searchByPub()" id= "ByPub" style="background-color:#c9fdd7;"> SEARCH BY PUB</button>
        <button onclick="location.href='https://127.0.0.1:3000/authors'"> AUTHORS</button> 
        <button onclick="location.href='https://127.0.0.1:3000/publications'"> PUBLICATIONS</button>
        <% if !user_signed_in? && !administrator_signed_in? %>
            <button onclick="location.href='https://127.0.0.1:3000/users/sign_up'"> LOGIN/REGISTER</button>
            <button onclick="location.href='https://127.0.0.1:3000/administrators/sign_up'"> RESERVED AREA</button>
        <% elsif user_signed_in?%>
            <% user_show= "https://127.0.0.1:3000/users/#{current_user["user_id"]}"%>
            <button onclick= "location.href='<%=user_show%>'"> MY DATA</button>
            <button onclick="location.href='https://127.0.0.1:3000/'">HOME</button>
        <%end%>
        <p id="p1"> </p>
    </div>

    <div class= "bottom_right_block">
        <div class="bottom_right_block_left">
                <h2>PREMIUM CHARTS</h2>
                <fieldset class= "chart_choise">
                    <legend>CHOOSE A CHART:</legend>
                    <br>
                    <label>FILTERED CHARTS:</label><br>
                    <br>
                    <input type="radio" id="favorite_authors_trend" name="choise" onclick="favorite_authors_graph()" checked > <label for="favorite_authors_trend"> Favorite authors trends</label><br> <br>
                    <input type="radio" id="pub_per_year" name="choise" onclick="pub_per_year_graph()"> <label for="pub_per_year"> Total publications per year</label><br> <br>
                    <label>YOUR ACTIVITY RATE:</label><br>
                    <br>
                    <input type="radio" id="auth_ratings" name="choise" onclick="auth_ratings_graph_rate()" > <label for="auth_ratings"> Authors' rating</label><br><br>
                    <input type="radio" id="comments" name="choise" onclick="comments_graph_rate()"> <label for="comments"> Comments</label><br> <br>
                    <input type="radio" id="pub_ratings" name="choise" onclick="pub_ratings_graph_rate()"> <label for="pub_ratings"> Publications' ratings</label><br><br>
                    <input type="radio" id="reviews" name="choise" onclick="reviews_graph()"> <label for="reviews"> Reviews</label><br><br>
                </fieldset>
    
        </div>
        
        <div class="bottom_right_block_right">
        <br></br>

        <div class="graph" id="chart1" style="visibility:visible; width:500px; height:300px;">
                <%= line_chart @favorite_authors_citedby.sort_by{|x| -x.graph.length}.map { |fav_authors| 
                {name: Author.find(fav_authors.author_id).name,
                 data: Graphs.new.hash_graph(fav_authors.graph)}},
                   discrete: true, 
                   xtitle: "years", 
                   ytitle: "citations",
                   colors: ["#49beb7", "#6892d5", "#7c4789", "#9973e2", "#7b99fa"], 
                   title:"FAVORITE AUTHORS TRENDS"%>
        </div>


        <div class="graph" id="chart2" style="visibility:hidden;">
            <%= area_chart AuthorRating.where(user_id:@user).order("DATE(rating_timestamp)").group("DATE(rating_timestamp)").count, 
            colors: [ "#80e7ad" ],
            xmin: Date.today - 30, xmax: Date.today,
            title:"YOUR MONTHLY AUTHORS' RATINGS"%>
        </div>


        <div class="graph" id="chart3" style="visibility:hidden;">
            <%= area_chart Comment.where(user_id:@user).order("DATE(comment_timestamp)").group("DATE(comment_timestamp)").count, 
            colors: ["#55c8a7"],
            xmin: Date.today - 30, xmax: Date.today,
            title:"YOUR MONTHLY COMMENTS"%>
        </div>


        <div class="graph" id="chart4" style="visibility:hidden;">
            <div class="filters", style="padding-left:7%;">
                <label for="filters4">LAST:</label> 
                <select name="filters" id="last_n" onchange="changeChart4();">
                    <option value="5">5 years</option>
                    <option value="10" selected="selected">10 years</option>
                    <option value="15">15 years</option>
                    <option value="20">20 years</option>  
                </select>
            </div>
            <br></br>
            <div id="most_cited_pubs_per_year_chart" style="width:500px; height:300px;">
            </div>
        </div>


        <div class="graph" id="chart5" style="visibility:hidden;">
            <%= area_chart PublicationRating.where(user_id:@user).order("DATE(rating_timestamp)").group("DATE(rating_timestamp)").count, 
            colors: ["#2fa99d" ],
            xmin: Date.today - 30, xmax: Date.today,
            title:"YOUR MONTHLY PUBLICATIONS' RATINGS"%>
        </div>


        <div class="graph" id="chart6" style="visibility:hidden;">
            <%= area_chart Review.where(user_id:@user).order("DATE(review_timestamp)").group("DATE(review_timestamp)").count, 
            colors: ["#037b86"],
            xmin: Date.today - 30, xmax: Date.today,
            title:"YOUR MONTHLY REVIEWS"%>
        </div>
        </div>
    </div>
</div>

<div class="footer" float:left>
    <a href="/contacts">CONTACT US</a>
    <a href="/info">INFO</a>
    <a href="/use_and_conditions">USE TERMS AND CONDITIONS</a>
    <a href="/privacy">PRIVACY</a>
    <a href="/cookies">COOKIES</a>
</div>

<%= javascript_include_tag "home"%>
<%= javascript_include_tag "dashboard"%>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>

<script> 
    searchByAuth();
    initializeCharts();
</script>

<!--
    <div class="filters", style="padding-left:7%;">
                <label for="filters">YUOR FAVORITE AUTHORS:</label>
                <select name="filters" id="favorite_auth" onclick="changeChart1()">
                    <%@favorite_authors.each do |author|%>
                        <% name= Author.find(author.author_id).name%>
                        <option value='<%author.author_id%>'><%=name%></option>
                    <%end%> 
                    </select> 
                </div> 
-->