<header>
    <h1>WELCOME BACK, <%=@user.username%> ! </h1>
</header>
<!--
<div class="left_block">
    <div class="table_half_box">
        <caption>LATEST PUBLICATIONS</caption>
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Date</th></tr></thead>
        <tbody>
            <% @latest_pubs.each do |recent_pub| %>
            <% writtens= Written.where(:publication_id => recent_pub.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= recent_pub.title %></td>
                    <td><%= recent_pub.pub_year %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>
    
    <div class="table_half_box">
        <caption>MOST CITED PUBLICATIONS</caption> 
        <table>
        <thead><tr><th>Author</th><th>Publication</th> <th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_pubs.each do |most_cited| %>
            <% writtens= Written.where(:publication_id => most_cited.publication_id)%>
                <tr>
                    <td>
                        <% writtens.each do |written|%> 
                            <% auth= Author.find(written.author_id)%>
                            <%=auth.name%>
                        <%end%>
                    </td>
                    <td><%= most_cited.title %></td>
                    <td><%= most_cited.cited_by %></td>
                </tr>
            <% end %>
        </tbody>
        </table>
    </div>

    <div class="table_half_box">
        <caption>MOST CITED AUTHORS</caption> 
        <table>
        <thead><tr><th>Author</th><th>Citations</th></tr></thead>
        <tbody>
            <% @most_cited_authors.each do |most_cited| %>
                <tr>
                    <td>                        
                        <% auth= Author.find(most_cited.author_id)%>
                        <%= auth.name %>
                    </td>
                    <td><%= most_cited.all_citations %></td>
                </tr>
            <% end %>   
        </tbody>
        </table>
    </div>


</div>

<div class="right_block">
    <div class= "upper_right_block">
        <button onclick= "searchByAuth()" id= "ByAuth" > SEARCH BY AUTH </button>
        <button onclick= "searchByPub()" id= "ByPub"> SEARCH BY PUB</button>
        <button onclick="location.href='http://127.0.0.1:3000/authors'" > AUTHORS</button> 
        <button onclick="location.href='http://127.0.0.1:3000/publications'"> PUBLICATIONS</button>
        <button onclick="location.href='http://127.0.0.1:3000/users/sign_up'"> LOGIN/REGISTER</button>
        <button onclick="location.href='http://127.0.0.1:3000/administrators/sign_up'"> RESERVED AREA</button>
        <p id="p1"> </p>
    </div>

    <div class= "bottom_right_block">
        <h2>STANDARD CHARTS</h2>
        <div class="bottom_right_block_left">
                <fieldset class= "chart_choise">
                    <legend>CHOOSE A CHART:</legend>
                    <br>
                    <label>ON AUTHORS:</label><br>
                    <br>
                    <input type="radio" id="most_cited_authors_trend" name="choise" onclick="most_cited_authors_graph()" checked > <label for="most_cited_authors_trend"> Most cited authors</label><br> <br>
                    <input type="radio" id="auth_ratings" name="choise" onclick="auth_ratings_graph()" > <label for="auth_ratings"> Hightest rate authors</label><br><br>
                    <input type="radio" id="most_commented_authors" name="choise" onclick="most_commented_authors_graph()"> <label for="most_commented_authors"> Most commented authors</label><br> <br>
                    <br>
                    <label>ON PUBLICATIONS:</label><br>
                    <br>
                    <input type="radio" id="pub_per_year" name="choise" onclick="pub_per_year_graph()"> <label for="pub_per_year"> Total publications per year</label><br> <br>
                    <input type="radio" id="pub_ratings" name="choise" onclick="pub_ratings_graph()"> <label for="pub_ratings"> Hightest rate publications</label><br><br>
                    <input type="radio" id="most_cited_publications" name="choise" onclick="most_cited_publication_graph()"> <label for="most_cited_authors"> Most cited publication</label><br><br>
                </fieldset>
        </div>
        <div class="bottom_right_block_right">
        <div class="graph" id="chart1" style="visibility:visible;"}>
                <%= line_chart @most_cited_authors.sort_by{|x| -x.graph.length}.map { |most_cited|
                    {
                        name: Author.find(most_cited.author_id).name,
                        data: Graphs.new.hash_graph(most_cited.graph)
                    }
                }, discrete: true, 
                   xtitle: "years", 
                   ytitle: "citations",
                   colors: ["#ab47bc", "#5c6bc0", "#29b6f6", "#26a69a", "#9ccc65"], 
                   title:"MOST CITED AUTHORS"%>
        </div>
        <div class="graph" id="chart2" style="visibility:hidden;">
            To be done...
        </div>
        <div class="graph" id="chart3" style="visibility:hidden;">
            To be done...
        </div>
        <div class="graph" id="chart4" style="visibility:hidden;">
            <%= column_chart Publication.where(pub_year: (Date.today.year - 10 ..)).group(:pub_year).order(:pub_year).count, 
            colors: ["#ab47bc", "#7e57c2", "#5c6bc0", "#42a5f5", "#29b6f6", "#26c6da", "#26a69a", "#66bb6a","#9ccc65", "#d4e157" ], 
            discrete: true, 
            title:"LAST 10 YEARS PUBLICATIONS"%>
        </div>
        <div class="graph" id="chart5" style="visibility:hidden;">
            To be done...
        </div>
        <div class="graph" id="chart6" style="visibility:hidden;">
            <% data= []%>
            <% for year in (Date.today.year - 9 .. Date.today.year )%>
            <% most_cited=Publication.distinct.order(cited_by: :desc).where(pub_year:year).first()%>
            <% if (most_cited != nil)%>
                <% data << [ year.to_s + ": "+  most_cited.title, most_cited.cited_by]%>
            <%end%>
            <%end%>
            <%= column_chart data,
            colors: ["#d4e157", "#9ccc65", "#66bb6a", "#26a69a", "#26c6da", "#29b6f6", "#42a5f5", "#5c6bc0", "#7e57c2", "#ab47bc"],
            discrete: true, 
            title:"MOST CITED PUBLICATIONS"%>
        </div>
        </div>
    </div>
</div>

<div class="footer" float:left>
    <a href="/contacts">CONTACT US</a>
    <a href="/info">INFO</a>
    <a href="/use_and_conditions">USE TERMS AND CONDITIONS</a>
    <a href="/privacy">PRIVACY</a>
    <a href="/cookies">COOKIES</a>
</div>

<%= javascript_include_tag "home"%>
<%= javascript_include_tag "Chart" %>
<%= javascript_include_tag "chartkick" %>
<%= javascript_include_tag "chartjs-adapter-date-fns.bundle"%>
<%= javascript_include_tag "application" %>
<script> searchByAuth();</script>
-->

