<div id="<%= dom_id author_rating %>">
  <p>
    <strong>Author:</strong>
    <%= author_rating.author_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= author_rating.user_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= author_rating.rating %>
  </p>

  <p>
    <strong>Rating timestamp:</strong>
    <%= author_rating.rating_timestamp %>
  </p>

</div>
