<body>
<div class='margine'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<p style="color: green"><%= notice %></p>

<h1>AUTHOR RATINGS</h1>

<%if(@user!=nil)%>
  <% if (AuthorRating.where(author_id:@author.author_id,user_id:@user.user_id)==[] || AuthorRating.where(author_id:@author.author_id,user_id:@user.user_id)==nil)%>
    <%= button_to "NEW AUTHOR RATING", new_author_author_rating_path(@author), method: :get%>
  <%end%>
<%end%>
<%=button_to "BACK TO AUTHOR", author_path(@author), method: :get %>

<br>
<br>

<div class="rating">
  <% @author_ratings.each do |author_rating| %>
    <%= render author_rating %>
      <%if(@user!=nil)%>
        <%if @user.user_id==author_rating.user_id%>
          <%= button_to "Edit rating", edit_author_author_rating_path(author_rating.author_id,author_rating.user_id), method: :get %>
          <%= button_to 'Destroy rating', [author_rating.author,author_rating], :method=>:delete%>
        <%end%>
        <br>
        <br>
    <%end%>
  <% end %>
</div>


</div>
</body>