<p style="color: green"><%= notice %></p>

<h1>Author ratings</h1>

<div id="author_ratings">
  <% @author_ratings.each do |author_rating| %>
    <%= render author_rating %>
    <p>
    <%= link_to "show author",[@author] %>
    <%= link_to "Edit author rating", edit_author_author_rating_path(author_rating.author_id,author_rating.user_id)%>
      
      <%= link_to 'Destroy rating', destroy_author_author_rating_path(author_rating.author_id,author_rating.user_id), method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New author rating", new_author_author_rating_path(@author)%>