<p style="color: green"><%= notice %></p>

<div class='margine'>
<h1>Favorite authors</h1>

<button><%= link_to "NEW FAVORITE AUTHOR", new_user_favorite_author_path %></button>

<ul>
<% if @favorite_authors != [] && @favorite_authors!= nil && @favorite_authors != ''%>
  <% @favorite_authors.each do |favorite_author| %>
    <% r=Author.find(favorite_author.author_id)%>
      <li><%= r.name %>
      <%= link_to "Show", author_path(favorite_author.author_id) %>
      <%= button_to 'Destroy', [User.find(favorite_author.user_id),favorite_author ], :method=>:delete %>
  <% end %>
<% end %>
</ul>

</div>
</div>



