<p style="color: green"><%= notice %></p>

<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<h1>FAVORITE AUTHORS</h1>
<%= button_to "HOME", home_path, :method=>:get %>
<%if user_signed_in?%>
  <%= button_to "MY ACCOUNT", dashboard_path, :method=>:get %>
<%end%>

<ul>
<% if @favorite_authors != [] && @favorite_authors!= nil && @favorite_authors != ''%>
  <% @favorite_authors.each do |favorite_author| %>
    <% r=Author.find(favorite_author.author_id)%>
      <li><%= r.name %>
      <%= button_to "Show", author_path(favorite_author.author_id), :method=>:get %>
      <%= button_to 'Destroy', [User.find(favorite_author.user_id),favorite_author ], :method=>:delete %>
      <br></br>
  <% end %>
<% end %>
</ul>


</div>
</div>



