<p style="color: green"><%= notice %></p>

<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<h1>Banned users</h1>

<div id="banned_users">
  <% @banned_users.each do |banned_user| %>
    <%= render banned_user %>
    <p>
      <%= link_to "Show this banned user", banned_user %>
    </p>
  <% end %>
</div>
<%= button_to "New banned user", new_banned_user_path, :method=>:get%>
</div>
