<p style="color: green"><%= notice %></p>
<div class='margine1'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 

<%= render @banned_user %>

<div>
  <%= button_to "EDIT THIS BANNED USER", edit_banned_user_path(@banned_user), :method=>:get %> 
  <%= button_to "DESTROY THIS BANNED USER", @banned_user, method: :delete %>
  <%= button_to "BACK TO BANNED USERS", banned_users_path, :method=>:get%>
</div>
</div>
