<p style="color: green"><%= notice %></p>

<%= render @scritto %>

<div>
  <%= link_to "Edit this scritto", edit_scritto_path(@scritto) %> |
  <%= link_to "Back to scritto", scritto_path %>

  <%= button_to "Destroy this scritto", @scritto, method: :delete %>
</div>
