<p style="color: green"><%= notice %></p>

<%= render @commento %>

<div>
  <%= link_to "Edit this commento", edit_commento_path(@commento) %> |
  <%= link_to "Back to commenti", commenti_path %>

  <%= button_to "Destroy this commento", @commento, method: :delete %>
</div>
