<%= form_for @publication_rating, url: publication_publication_rating_path do |form| %>
  <% if publication_rating.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publication_rating.errors.count, "error") %> prohibited this publication_rating from being saved:</h2>

      <ul>
        <% publication_rating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
