<body>
<div class='margine'>
<%= image_tag("Immagine2.png", size:"256,41x72,3", class: "logo")%> 
<p style="color: green"><%= notice %></p>

<h1>PUBLICATION RATINGS</h1>

<%if(@user!=nil)%>
  <% if (PublicationRating.where(publication_id:@publication.publication_id,user_id:@user.user_id)==[] ||PublicationRating.where(publication_id:@publication.publication_id,user_id:@user.user_id)==nil)%>
    <%= button_to "NEW PUBLICATION RATING", new_publication_publication_rating_path(@publication), method: :get %>
  <%end%>
<%end%>

<%= button_to "BACK TO PUBLICATION", publication_path(@publication), method: :get %>

<br>
<br>


<div class="rating">
  <% @publication_ratings.each do |publication_rating| %>
    <%= render publication_rating %>
      <%if(@user!=nil)%>
        <%if @user.user_id==publication_rating.user_id%>
          <%= button_to "Edit rating", edit_publication_publication_rating_path(publication_rating.publication_id,publication_rating.user_id), method: :get %>
          <%= button_to 'Destroy rating', [publication_rating.publication,publication_rating], :method=>:delete %>
        <%end%>
        <br>
        <br>
    <%end%>
  <% end %>

</div>



</div>
</body>
