<p style="color: green"><%= notice %></p>

<%= render @publication_rating %>

<div>
  <%= link_to "Edit this publication rating", edit_publication_rating_path(@publication_rating) %> |
  <%= link_to "Back to publication ratings", publication_ratings_path %>

  <%= button_to "Destroy this publication rating", @publication_rating, method: :delete %>
</div>
