<p style="color: green"><%= notice %></p>

<%= render @publication_rating %>

<div>
  <%= link_to "Edit this publication rating", edit_publication_publication_rating_path(@publication,@publication_rating) %> |
  <%= link_to "Back to publication ratings", publication_publication_ratings_path(@publication) %>
 <%= button_to 'Destroy rating', [@publication_rating.publication,@publication_rating], :method=>:delete %>
</div>
